html {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    --color-black: #1B1B20;
    --color-grey: #626262;
    --color-pink: #D61FDA;
    --gragient-accent-back: linear-gradient(133deg, #FFF5DD 0%, rgba(170, 86, 254, 0.32) 37.22%, rgba(254, 86, 217, 0.28) 58.14%, rgba(86, 254, 254, 0.28) 100%);
    --main-padding: 10vw;
    margin: 0;

    color: var(--color-black);

    background: url('./img/backgroundback2\(coins\).png');
    background-size: contain;
}

a {
    text-decoration: none;
}

.pink-text {
    font-style: normal;
    color: var(--color-pink);
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--main-padding);
    padding-block: 32px;
    box-shadow: 0 0 20px 0px #0000004f;
    position: sticky;
    top: 0;
    background-color: white;
}

.header__logo {
    width: 155px;
}

.header__nav {
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-inline: 1rem;
}

.header__a {
    text-decoration: none;
    color: inherit;
}

.nav__li {
    margin-inline: 26px;
}

.douwnload-button {
    font-size: 16px;
    background: linear-gradient(#8B1CFB 0%, #B02CDF 100%);
    border: none;
    border-radius: 30px;
    line-height: 19.2px;
    padding: 16px 32px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.28px;
    box-shadow: 0px 0px 16px 0px #654086;
    white-space: nowrap;
    cursor: pointer;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 5rem var(--main-padding);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__tittle {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 500;
}

.intro__parag {
    color: var(--color-grey);
    margin: 1.5rem 0 2.3rem;
}

.intro__img {
    min-width: 50vw;
    background: url('./img/NEWBACKFORHERO.png');
    background-position:center right;
    background-size: contain;
    background-repeat: no-repeat;
}

.cards-sec {
    background: var(--gragient-accent-back);
    text-align: center;
    padding: 4rem var(--main-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cards-sec .card {
    margin: 1rem;
}

.card .card__tittle{
    font-weight: 700;
    line-height: 38.4px;
    font-size: 32px;
    color: var(--color-black);
}

.mirror-hello {
    text-align: center;
    padding: 2rem var(--main-padding);
    /* background: url('./img/backgroundback2\(coins\).png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-black);
}

.mirror-hello__intro {
    font-size: 20px;
    font-weight: 400;

}

.mirror-hello__img {
    width: 38vw;
}

.tittle {
    font-size: 2.3rem;
}

.text {
    color: var(--color-grey);
    line-height: 28.8px;
}


.access {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem var(--main-padding) 1rem 0;
}

.access__left-side {
    background: url('./img/yoga-girl.png');
    min-width: 30vw;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

.access__right-side {
    text-align: center;
}



.earning {
    text-align: center;
    border-radius: 20px;
    background: var(--gragient-accent-back);
    margin: var(--main-padding);
    padding: 2.5rem 1.8rem;
    box-shadow: 0 0 40px 20px #00000029;
}

.earning__tittle {
    margin-top: 0;
}

.earning__steps-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.earning__step {
    flex: 1;
}

.earning__step-does {
    text-align: start;
    padding: 0;
    font-size: 0.6rem;
}


.calc {
    padding: .5rem var(--main-padding);
    margin-block: 2rem;
}

.calc__tittle {
    text-align: center;
}

.calc__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.calc__table {
    background: linear-gradient(103deg, rgba(170, 86, 254, 0.32) 1.02%, rgba(255, 112, 223, 0.28) 27.60%, rgba(141, 237, 250, 0.28) 51.56%, rgba(255, 255, 255, 0.00) 100%);
    border-radius: 20px;
    padding: 2.5rem;
    box-shadow: 0 0 40px 20px #00000029;
    margin: 2rem;
}

tr th:nth-child(2) {
    text-align: end;
}

tr th:nth-child(1) {
    text-align: start;
}

tr td:nth-child(2) {
    color: var(--color-grey);
    text-align: end;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    background: url('./img/background-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 3rem var(--main-padding) 0;
    margin-top: 2rem;
}

.footer__left-side {
    min-width: 30vw;
    line-height: 0;
    background: url('./img/footer-girl-2-footer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.footer__right-side {
    text-align: end;
    padding-bottom: 2rem;
    color: white;
}

.footer__tittle {
    font-size: 2.3rem;
    font-weight: 700;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer__input-field input {
    height: 51px;
    border: 1px solid white;
    border-radius: 30px;
    width: 337px;
    padding: 0 20px;
    color: white;
    background: transparent;
    letter-spacing: 1.28px;
    /* margin: 32px; */
    outline: none;
}

.footer__input-field input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
}


.footer__text, .footer__info {
    font-weight: 300;
    font-size: 1.17rem;
    line-height: 33.6px;
}

.footer__info {
    font-size: 1rem;
}

@media screen and (max-width: 1200px) {
    html {
        --main-padding: 5vw;
    }

    .footer__left-side {
        display: none;
    }

    .footer__right-side {
        text-align: center;
    }

    .input-field {
        justify-content: center;
    }

}

@media screen and (max-width: 1020px) {

    .intro {
        padding-inline: var(--main-padding);
    }

    .intro__img {
        display: none;
    }

    .intro__text {
        text-align: center;
    }

    .access {
        padding-inline: var(--main-padding);
    }

    .access__left-side {
        display: none;
    }

    .nav {
        display: none;
    }

    .header__douwnload-button {
        display: none;
    }
    
}