html {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    --color-black: #1B1B20;
    --color-grey: #626262;
    --color-pink: #D61FDA;
    --gragient-accent-back: linear-gradient(133deg, #FFF5DD 0%, rgba(170, 86, 254, 0.32) 37.22%, rgba(254, 86, 217, 0.28) 58.14%, rgba(86, 254, 254, 0.28) 100%);
    --gragient-accent-back-revers: linear-gradient(302deg, #FFF5DD 0%, rgba(170, 86, 254, 0.32) 37.22%, rgba(254, 86, 217, 0.28) 58.14%, rgba(86, 254, 254, 0.28) 100%);
    --main-padding: 10vw;
    margin: 0;
    scroll-behavior: smooth;
    color: var(--color-black);
    background: url('./img/backgroundback2\(coins\).png');
    background-size: contain;
}

a {
    text-decoration: none;
}

.pink-text {
    font-style: normal;
    color: var(--color-pink);
}

.body {
    margin: 0;
}

.html_scroll-block {
    overflow: hidden;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--main-padding);
    box-shadow: 0 0 20px 0px #0000004f;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.header__logo {
    width: 155px;
}

.header__nav {
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.header__menu-btn {
    display: none;
    background-image: url('./img/menu.png');
    background-position: center;
    background-size: cover;
    aspect-ratio: 1;
    height: 1.3rem;
    transition: 0.3s;
}

.header__menu-btn_active {
    transform: rotate(180deg);
    background: none
}

.header__menu-btn_active::before,
.header__menu-btn_active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #8E24AA;
    transform: translateY(15px) rotate(45deg);
}

.header__menu-btn_active::after {
    transform: translateY(15px) rotate(-45deg);
}

.page__mob-menu {
    position: fixed;
    width: 100%;
    transform: translateY(-135%);
    transition: 0.5s;
    max-height: 90vh;
    overflow: auto;
    background-color: white;
    overflow: scroll;
    border-bottom: 4px solid var(--color-black);
}

.mob-menu_active {
    transform: translateY(0);
}

.mob-menu__nav {
    list-style: none;
    color: var(--color-black);
    font-weight: 600;
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    text-align: end;
    letter-spacing: 3px;
    padding: 1rem 0;
    margin: 0;
}


.mob-menu__nav li {
    padding-block: 1rem;
    word-wrap: break-word;
}

.header__a {
    text-decoration: none;
    color: inherit;
}

.nav__li {
    margin-inline: 26px;
}

.douwnload-button, .eroch-button {
    font-size: 16px;
    background: linear-gradient(#8B1CFB 0%, #B02CDF 100%);
    border: none;
    border-radius: 30px;
    line-height: 19.2px;
    padding: 16px 32px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.28px;
    box-shadow: 0px 0px 16px 0px #654086;
    white-space: nowrap;
    cursor: pointer;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 5rem var(--main-padding);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__tittle {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 500;
}

.intro__parag {
    color: var(--color-grey);
    margin: 1.5rem 0 2.3rem;
}

.intro__img {
    min-width: 50vw;
    background: url('./img/NEWBACKFORHERO.png');
    background-position:center right;
    background-size: contain;
    background-repeat: no-repeat;
}

.cards-sec {
    background: var(--gragient-accent-back);
    text-align: center;
    padding: 4rem var(--main-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cards-sec .card {
    margin: 1rem;
}

.card .card__tittle{
    font-weight: 700;
    line-height: 38.4px;
    font-size: 32px;
    color: var(--color-black);
}

.mirror-hello {
    text-align: center;
    padding: 2rem var(--main-padding);
    /* background: url('./img/backgroundback2\(coins\).png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-black);
}

.mirror-hello__intro {
    font-size: 20px;
    font-weight: 400;

}

.mirror-hello__img {
    width: 38vw;
}

.tittle {
    font-size: 2.3rem;
}

.text {
    color: var(--color-grey);
    line-height: 28.8px;
}


.access {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem var(--main-padding) 1rem 0;
}

.access__left-side {
    background: url('./img/yoga-girl.png');
    min-width: 30vw;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

.access__right-side {
    text-align: center;
}



.block-with-items {
    text-align: center;
    border-radius: 20px;
    background: var(--gragient-accent-back-revers);
    margin: var(--main-padding);
    padding: 2.5rem 1.8rem;
    box-shadow: 0 0 40px 20px #00000029;
}

.block-with-items__tittle {
    margin-top: 0;
}

.block-with-items__items-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.block-with-items__item {
    flex: 1;
}

.block-with-items__item-does {
    text-align: start;
    padding: 0;
    font-size: 0.6rem;
}


.calc {
    padding: .5rem var(--main-padding);
    margin-block: 2rem;
}

.calc__tittle {
    text-align: center;
}

.calc__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.calc__table {
    background: linear-gradient(103deg, rgba(170, 86, 254, 0.32) 1.02%, rgba(255, 112, 223, 0.28) 27.60%, rgba(141, 237, 250, 0.28) 51.56%, rgba(255, 255, 255, 0.00) 100%);
    border-radius: 20px;
    box-shadow: 0 0 40px 20px #00000029;
    margin: 2rem;
    padding: 2.5rem;
}

tr th:nth-child(2) {
    text-align: end;
}

tr th:nth-child(1) {
    text-align: start;
}

tr td:nth-child(2) {
    color: var(--color-grey);
    text-align: end;
}


.mirror-buy {
    padding-inline: var(--main-padding);
    margin-block: 2rem;
}

.mirrorX, .mirrorS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 2rem;
    margin-block: 1rem;
}

.mirrorS__tittle, .mirrorX__tittle {
    font-size: 2rem;
}

.mirrorX img {
    width: 55%;
}

.mirrorS img {
    width: 40%;
}

.mirror-buy__img {
    width: 30vw;
    max-width: 600px;
    background: url('./img/girl-2back-mirror-main.png') bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.mirror-buy__tittle {
    text-align: center;
}

.mirror-buy__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    background: url('./img/background-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 3rem var(--main-padding) 0;
    margin-top: 2rem;
}

.footer__left-side {
    min-width: 30vw;
    line-height: 0;
    background: url('./img/footer-girl-2-footer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.footer__right-side {
    text-align: end;
    padding-bottom: 2rem;
    color: white;
}

.footer__tittle {
    font-size: 2.3rem;
    font-weight: 700;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer__input-field input {
    height: 51px;
    border: 1px solid white;
    border-radius: 30px;
    width: 337px;
    padding: 0 20px;
    color: white;
    background: transparent;
    letter-spacing: 1.28px;
    /* margin: 32px; */
    outline: none;
}

.footer__input-field input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
}


.footer__text, .footer__info {
    font-weight: 300;
    font-size: 1.17rem;
    line-height: 33.6px;
}

.footer__info {
    font-size: 1rem;
}



/* ====================================
SECOND PAGE 
================= */

.token-fitcoin {
    margin: 2.5rem var(--main-padding);
    display: flex;
    align-items: center;
    visibility: inherit;
}


.token-fitcoin__img {
    background: url('./img/second-page/coinscoins.png') center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 30vh;
    aspect-ratio: 1/1;
    flex: 1;
}


.token-fitcoin__text {
    text-align: center;
    color: var(--color-grey);
    font-weight: 300;
    flex: 1;
}

.token-fitcoin__parag p:first-child {
    font-weight: 700;
    font-size: 1.3em;
    color: var(--color-black);
    margin-block: 1rem 0.3rem;
}

.token-fitcoin__tittle {
    color: var(--color-black);
}


.eroch-details {
    display: flex;
    margin-inline: var(--main-padding);
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
}

.eroch-details__img {
    background: url('./img/second-page/yoga-girl.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
}

.eroch-details__text {
    flex: 1;
}

.eroch-details__parag {
    color: var(--color-grey);
}

.eroch-details__option {
    font-weight: 700;
    margin-block: 0.3em;
}

.eroch-details__option-key {
    color: var(--color-grey);
}

.eroch-details__eroch-button {
    margin-block: 2rem 1rem;
}


.stat {
    background-image: var(--gragient-accent-back-revers);
    border-radius: 20px;
    padding: 1rem 4rem;
    margin: 2rem calc(var(--main-padding) - 4rem);
    box-shadow: -10px 10px 50px 15px rgba(0, 0, 0, 0.10), 10px 10px 60px 0px rgba(255, 255, 255, 0.40) inset;

}

.stat__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.stat__content > * {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.295);
    padding: 1rem;
    width: 20vw;
    min-width: max-content;
    aspect-ratio: 1/0.67;
}

.stat h3 {
    margin: 0;
}

.stat__table {
    padding: 1rem;
}

.stat__table table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.stat__table table td {
    padding: 5px 0;
}

.stat__pie-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
}

.pie-legend__li {
    padding: 5px 0px;
    transition: 0.2s;
    transition-delay: 0.15s;
    cursor:default;
    font-weight: 600;
}

.pie-legend__li:hover,
.pie-legend__li_active {
    padding: 17px 0px;
}

.pie-legend__li_unset {
    color: #62626296;
}


.pie-legend__Ecosystem-Treasury {
    list-style-image: url('./img/second-page/pie-chart/marks/Vector 19.svg');
}
.pie-legend__Dev-Fund {
    list-style-image: url('./img/second-page/pie-chart/marks/Vector 13.svg');
}
.pie-legend__Team {
    list-style-image: url('./img/second-page/pie-chart/marks/Vector 14.svg');
}
.pie-legend__Rewards-Listing {
    list-style-image: url('./img/second-page/pie-chart/marks/Vector 18.svg');
}
.pie-legend__Train-To-Earn {
    list-style-image: url('./img/second-page/pie-chart/marks/Vector 15.svg');
}
.pie-legend__Close-Entities {
    list-style-image: url('./img/second-page/pie-chart/marks/Vector 16.svg');
}
.pie-legend__Seed {
    list-style-image: url('./img/second-page/pie-chart/marks/Vector 17.svg');
}
.pie-legend__Public {
    list-style-image: url('./img/second-page/pie-chart/marks/Vector 18-1.svg');
}



.pie-chart {
    display: inline-block;
}

.pie {
    position: relative;
    width: 285px;
    aspect-ratio: 1/1;
    margin: 0;
    display: inline-block;
}

.pie__part {
    position: absolute;
    transition: 0.3s;
}

.svg-for-clip {
    background-color: aquamarine;
    width: 0;
    height: 0;
    overflow: hidden;
}


.deepBlue {
    top: 0;
    left: 109px;
    clip-path: url(#clip-deepBlue);
}
.orange {
    top: 42px;
    left: 142px;
    z-index: 1;
    transform: scale(0.9);
    clip-path: url(#clip-orange);
}
.green {
    top: 68px;
    left: 0px;
    clip-path: url(#clip-green);
}
.blue {
    top: 91px;
    left: 168px;
    clip-path: url(#clip-blue);
}
.purpule {
    top: 151px;
    left: 167px;
    clip-path: url(#clip-purpule);
}
.pink {
    top: 4px;
    left: 20px;
    clip-path: url(#clip-pink);
}
.grey {
    top: 149px;
    left: 7px;
    clip-path: url(#clip-grey);
}
.yellow {
    top: 154.4px;
    left: 143px;
    clip-path: url(#clip-yellow);
}

.pie__part_active,
.pie__part:hover {
    transform: scale(1.22);
    z-index: 2;
}

/* ==============
SECOND PAGE 
======================================= */



@media screen and (max-width: 1200px) {
    html {
        --main-padding: 5vw;
    }

    .footer__left-side {
        display: none;
    }

    .footer__right-side {
        text-align: center;
    }

    .input-field {
        justify-content: center;
    }

}

@media screen and (max-width: 1020px) {

    .intro {
        padding-inline: var(--main-padding);
        background-image: url('./img/NEWBACKFORHERO.png');
        background-color: #ffffff9f;
        background-position-x: right;
        background-position-y: top;
        background-size: contain;
        background-blend-mode: overlay;
    }

    .intro__parag {
        color: var(--color-black);
    }

    .intro__img {
        display: none;
    }

    .intro__text {
        text-align: center;
    }

    .access {
        padding-inline: var(--main-padding);
    }

    .access__left-side {
        display: none;
    }

    .header__douwnload-button {
        display: none;
    }

    .token-fitcoin {
       flex-direction: column;
    }
}

@media screen and (min-width: 700px) {
    .page__mob-menu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    html {
        background: none;
    }

    .calc__img img {
        width: 50%;
    }
    .calc__img {
        text-align: center;
    }

    .mirror-buy__content {
        grid-template-columns: 1fr;
    }

    .mirrorX, .mirrorS {
        /* border: 2px solid; */
        border-radius: 20px;
        background-image: var(--gragient-accent-back);
        box-shadow: 0 0 44px 0px #2d002a4a;
    }

    .tittle {
        font-size: 1.3rem;
    }

    .header__nav {
        display: none;
    }


    .header__menu-btn {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .block-with-items {
        margin: 0;
    }

    .mirror-buy {
        padding: 0;
    }

    .calc {
        padding: 0;
    }

    .calc__table {
        margin-inline: 1rem;
        border-collapse: collapse;
        background: none;
        box-shadow: none;
        border-radius: 0;
    }
    .calc__table td {
        border-bottom: 1px solid;
        padding-block: 1rem 0.3rem;
    }

    .input-field input {
        width: 100%;
    }

    .intro__tittle {
        font-size: 2rem;
    }
}